@model List<ItemModelView>

    <h3 class="fw-bolder"> Lista de móveis </h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome do Móvel</th>
                <th scope="col">Check</th>

            </tr>
        </thead>
        <tbody>
            @{
                var cont = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@cont</td>
                    <td>@item.nomeMoveis</td>
                    <td>
                        <div class="form-check">
                            @if (item.checkMoveis)
                            {
                                <input class="form-check-input" type="checkbox" value="" checked>
                            }
                            else
                            {
                                <input class="form-check-input" type="checkbox" value="">
                            }

                        </div>
                    </td>
                </tr>
                cont++;

            }

        </tbody>
    </table>

